@import url('https://fonts.googleapis.com/css2?family')
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: purple;
}
.wrapper{
    width:430px;
    background: whitesmoke;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid rgb(143, 77, 143);
}
.wrapper .content{
    margin: 25px 25px 35px;
}
.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    color: purple
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background: none;
    border-radius: 5px;
    border: 1px solid grey;
}
.inputs input:first-child{
    margin-left: 0px;
}
.content .details{
    margin: 20px 0 25px;
}
.details p{
    font-size: 19px;
    margin-bottom: 10px;
}
.content .reset-btn{
    width: 100%;
    cursor: pointer;
    outline: none;
    color: darkslateblue;
    font-size: 17px;
    padding: 15px 0;
    background: plum;
    border-radius: 5px;
}